*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --font: "Poppins", sans-serif;
}

body{
    font-family: var(--font);
    background-color: #292929;
}
header{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center; 
    background-color: #ef4c24;
    color: white;
}

nav ul{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li{
    list-style: none;
}

.link{
    list-style: none;
    text-decoration: none;
    color: white;
}